
  <!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<script>
$(document).ready(function(){
     if($("#location").is(':empty')){
       
     }else{
        $('.menu').toggle("slide");
        
     }
     
   
});



  


</script>


<script>
.textbox > div {
    margin:0 auto;
    width:250px;
}
</script>

</head>
<body>
<form method = "POST">
{% csrf_token %}


<div class="textbox">

  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" name="country" required aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>

    <input type="submit" class="btn btn-success btn-md" value="SUBMIT" name="CDF_SUBMIT" id="submitbtn"> 
  <a href="" id="submit"> Refresh</a>

</div>

      
  <div class="statistics" style="display: none;">
 
  </div>

  


  </form>

 <div class="menu" style="display: none;">



  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1 class="mt-5 font-weight-bold text-center">{{location}}</h1>
      </div>
    </div>
    <div class="row mt-3 pt-3" style="background-color: #eeeeee">
      <div class="col-md-6">
        <!-- Card group -->
        <div class="card-group">

          <!-- Card -->
          <div class="card mb-4">

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h6 class="card-title">Confirmed:</h6>
              <!-- Text -->
              
              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">{{confirmed}}</span></p>

            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h6 class="card-title">Deaths: </h6>
              <!-- Text -->
              <p class="card-text red-text"><i class="fas fa-thumbs-down fa-2x"></i></i><span class="ml-2" style="font-size: 30px;">{{deaths}}</span></p>
            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

        </div>
        <!-- Card group -->
      </div>

      

      <div class="col-md-6">
          <!-- Card group -->
          <div class="card-group">
  
            <!-- Card -->
            <div class="card mb-4">
  
              <!-- Card content -->
              <div class="card-body">
  
                <!-- Title -->
                <h6 class="card-title">Recovered:</h6>
                <!-- Text -->
                
                
                <p class="card-text green-text"><i class="fas fa-angle-double-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">{{recovered}}</span></p>
  
              </div>
              <!-- Card content -->
  
            </div>
            <!-- Card -->
  
            <!-- Card -->
            <div class="card mb-4">
  
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h6 class="card-title">Updated At: </h6>
                <!-- Text -->
                <p class="card-text red-text"><i class="fas fa-angle-double-down fa-2x"></i><span class="ml-2" style="font-size: 30px;">{{lastReported}}</span></p>
              </div>
              <!-- Card content -->
  
            </div>
            <!-- Card -->
  
          </div>
          <!-- Card group -->
        </div>
    </div>
  </div>

  <h1 id="location">{{location}}</h1>
     Confirmed: {{confirmed}}
  Recovered: {{recovered}}
  Deaths: {{deaths}}

    <div id="demo"></div>
  {{lastReported}}
  
 </div>
</body>
</html>



