 {% include "navbar.html" %}
Hello from dashboard2.
<style>

body {
  margin-top: 90px;
  margin-left:50px;
  margin-right:50px;
  font-family: Arial, Helvetica, sans-serif;
}

</style>



<!---
<div class="topnav">
  <a href="{% url 'homepage' %}">Home</a>
  <a href="{% url 'logouts' %}"> Logout </a>
  <a href="{% url 'pass_change' %}"> Change Password </a>
  Welcome <b>{{ request.user.username }}</b>
</div>

logged in successful as <b>{{ request.user.username }}</b>




<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'logouts' %}"> Logout </a></li>
      <li><a href="{% url 'pass_change' %}"> Change Password </a></li>
      <li>Welcome <b>{{ request.user.username }}</b></li>
    </ul>
  </div>
</nav>

-->




<form method = "POST">
{% csrf_token %}

<!---
Place Of Birth : <input type="text" name="pob" placeholder = "{{ request.user.username }}">

Education : <input type="text" name="edu">

-->

<table class="table table-responsive">
						<p>Please fill in <strong> BLOCK LETTERS </strong>and tick boxes where applicable.</p>

						<thead>
							<tr>
								<p>
									<strong>
										Name of the Applicant (As appearing in supporting identification document)
									</strong>
								</p>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									<label>In English <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="6">
									<input type="text" class="form-control" name="name" id="APPLICANT_NAME" placeholder="Enter Name of the Applicant" required>
								</td>
							</tr>
							<tr>
								<th>
									<label>Birth of place <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="2">
									<input type="text" name="pob" id="BIRTH_PLACE" class="form-control" placeholder="Enter Birth Place" required>
								</td>
								<th>
									<label>Martial Status <span class="required-asterisk">*</span></label>
								</th>
								<td>
									<input type="radio" class="form-check-label" name="marital_status" id="MARTIAL_STATUS_SINGLE" value="Single" required>
									<label class="form-check-label" for="MARTIAL_STATUS_SINGLE">Single</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="MARTIAL_STATUS_MARRIED" name="marital_status" value="Married" required>
									<label class="form-check-label" for="MARTIAL_STATUS_MARRIED">Married</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="MARTIAL_STATUS_WIDOWED" name="marital_status" value="Widowed" required>
									<label class="form-check-label" for="MARTIAL_STATUS_WIDOWED" >Widowed</label>
								</td>
							</tr>
							<tr>
								<th>
									<label>Nationality <span class="required-asterisk">*</span></label>
								</th>
								<td>
									<input type="radio" class="form-check-label" id="NATIONALITY_NEPALI" name="NATIONALITY" value="Nepali" required>
									<label class="form-check-label" for="NATIONALITY_NEPALI">Nepali</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="NATIONALITY_FOREIGNER" name="NATIONALITY" value="Foreigner" required>
									<label class="form-check-label" for="NATIONALITY_FOREIGNER" >Foreigner</label>
								</td>
								<th>
									<label>Status <span class="required-asterisk">*</span></label>
								</th>
								<td>
									<input type="radio" class="form-check-label" id="RESIDENT_STATUS_RES" name="RESIDENT_STATUS" value="Resident" required>
									<label class="form-check-label" for="RESIDENT_STATUS_RES">Resident</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="RESIDENT_STATUS_NON_RES" name="RESIDENT_STATUS" value="Non-Resident" required>
									<label class="form-check-label" for="RESIDENT_STATUS_NON_RES">Non-Resident Nepalese</label>
								</td>
								<td colspan="2"></td>
							</tr>
							<tr>					
								<th>
									<label>Education <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="EDUCATION" name="edu" placeholder="Enter Education" required>
								</td>
								<td colspan="4"></td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="7">
									Address Details
								</th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<th colspan="4">
									<label>Correspondence Address</label>
								</th>
								<th colspan="3">
									<label>Nature of Residence <span class="required-asterisk">*</span></label>
								</th>
							</tr>
							<tr>
								<th>
									<label>Country <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="COUNTRY" name="country" placeholder="Enter County" required>
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="RESIDENCE_NATURE_OWN_HOUSE" name="RESIDENCE_NATURE" value="Own House" required>
									<label class="form-check-label" for="RESIDENCE_NATURE_OWN_HOUSE" >Own House</label>
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="RESIDENCE_NATURE_ON_RENT" name="RESIDENCE_NATURE" value="On Rent" required>
									<label class="form-check-label" for="RESIDENCE_NATURE_ON_RENT">On Rent</label>
								</td>
							</tr>
							<tr>
								<th>
									<label>Province <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="PROVINCE" name="province" placeholder="Enter Province" required>
								</td>
								<td colspan="3"></td>
							</tr>
							<tr>
								<th>
									<label>District <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="DISTRICT" name="district" placeholder="Enter Province" required>
								</td>
								<td colspan="3">
									<div class="on-rent-sections">If on Rent, please specify:</div>	
								</td>
							</tr>
							<tr>
								<th>
									<label>VDC/Municipality <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="VDC_MUNICIPALITY" name="v_mun" placeholder="Enter VDC/Municipality" required>
								</td>
								<td colspan="3">
									<div class="on-rent-sections">Owner's Name <span class="required-asterisk">*</span></div>	
								</td>
							</tr>
							<tr>
								<th>
									<label>Street name <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="STREET_NAME" name="street" placeholder="Enter Street Name" required>
								</td>
								<td colspan="3">
									<div class="on-rent-sections"><input type="text" class="form-control" id="OWNER_NAME" name="OWNER_NAME" placeholder="Enter Owner's Name"></div>					

								</td>
							</tr>
							<tr>
								<th>
									<label>Ward no. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="WARD_NO" name="ward" placeholder="Enter Ward no." required>
								</td>
								<td colspan="3">
									<div class="on-rent-sections">Owner's Telephone Number <span class="required-asterisk">*</span></div>
								</td>
							</tr>
							<tr>
								<th>
									<label>House no. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="HOUSE_NO" name="houseno" placeholder="Enter House no." required>
								</td>
								<td colspan="3">
									<div class="on-rent-sections"><input type="text" class="form-control" id="OWNER_TEL_NO" name="OWNER_TEL_NO" placeholder="Enter Owner's Telephone Number"></div>
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="6">
									Contact Details
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									<label>Mobile No. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="2">
									<input type="text" class="form-control" id="MOBILE_NO" name="mobile" placeholder="Enter Mobile Number" required>
								</td>
								<th>
									<label>Telephone No. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="Number" class="form-control" id="TEL_NO" name="telephone" placeholder="Enter Telephone Number" required>
								</td>
							</tr>
							<tr>
								<th>
									<label>Email Address <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="2">
									<input type="email" class="form-control" id="EMAIL" name="EMAIL" placeholder="Enter Email Address" required>
								</td>
								<th>
									<label>Fax No. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="FAX_NO" name="fax" placeholder="Enter Fax Number" required>
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="3">
									Occupation Details <span class="required-asterisk">*</span>
								</th>
								<th colspan="4">
									Associated Organization detail (Please fill the table below):						
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_SAL_GOV" name="OCCUPATION_DETAILS" value="Salaried-Govt" required>
									<label class="form-check-label" for="OCCUPATION_DETAILS_SAL_GOV">Salaried-Govt.</label>
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_RET" name="OCCUPATION_DETAILS" value="Retired" required>
									<label class="form-check-label" for="OCCUPATION_DETAILS_RET">Retired</label>
								</td>
								<td colspan="2">
									Name of Organization <span class="required-asterisk">*</span>	
								</td>
								<td colspan="2">
									Designation	<span class="required-asterisk">*</span>	
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_STUD" name="OCCUPATION_DETAILS" value="Student" required>
									<label class="form-check-label" for="OCCUPATION_DETAILS_STUD">Student</label>
								</td>

								<td colspan="2">
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_SAL_PVT" name="OCCUPATION_DETAILS" value="Salaried-Private" required>
									<label class="form-check-label" for="OCCUPATION_DETAILS_SAL_PVT">Salaried-Private</label>
								</td>
								<td colspan="2">
									<input type="text" class="form-control" id="ASSOC_ORG_NAME" name="ASSOC_ORG_NAME" placeholder="Enter Name of Organization" value="" >		

								</td>
								<td  colspan="2">
									<input type="text" class="form-control" id="ASSOC_ORG_DESG" name="ASSOC_ORG_DESG" placeholder="Enter Organization Designation" value="" >		

								</td>
							</tr>
							<tr> 
								<td>
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_OTHER" name="OCCUPATION_DETAILS" value="o" required>
									<label class="form-check-label" for="OCCUPATION_DETAILS_OTHER">Other (Please specify)	</label>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="OCCUPATION_DETAILS_OTHER_TEXT" name="OCCUPATION_DETAILS_OTHER_TEXT" style="display: none;" placeholder="Enter occupation detail.">
								</td>

							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="7">
									Financial Details		
								</th>
							</tr>
							<tr>
								<th colspan="7">
									Estimated Annual Income	<span class="required-asterisk">*</span>			
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="EST_ANNUAL_INCOME_UPTO_5L" name="EST_ANNUAL_INCOME" value="Upto NPR 5 Lakhs" required>
									<label class="form-check-label" for="EST_ANNUAL_INCOME_UPTO_5L">Upto NPR 5 Lakhs</label>
								</td>

								<td colspan="2">
									<input type="radio" class="form-check-label" id="EST_ANNUAL_INCOME_5T1" name="EST_ANNUAL_INCOME" value="NPR 500001 to NPR 1000000" required>
									<label class="form-check-label" for="EST_ANNUAL_INCOME_5T1">NPR 500001 to NPR 1000000</label>
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="EST_ANNUAL_INCOME_A1" name="EST_ANNUAL_INCOME" value="Above NPR 1000000" required>
									<label class="form-check-label" for="EST_ANNUAL_INCOME_A1">Above NPR 1000000</label>
								</td>
							</tr>

						</tbody>
						<thead>
							<tr>
								<th colspan="5">Are you involved in any Investment Company for securities trading? <span class="required-asterisk">*</span></th>
								<td>
									<input type="radio" class="form-check-label" id="INV_COMP_INVOLVED_YES" name="INV_COMP_INVOLVED" value="Yes" required>
									<label class="form-check-label" for="INV_COMP_INVOLVED_YES">Yes</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="INV_COMP_INVOLVED_NO" name="INV_COMP_INVOLVED" value="No" required>
									<label class="form-check-label" for="INV_COMP_INVOLVED_NO">No</label>
								</td>
							</tr>
						</thead>
						<tbody id="INVESTMENT_COMP_SECTION" style="display: none;">
							<tr>
								<td colspan="7">
									If yes, please specify	
								</td>
							</tr>

							<tr>
								<td>
									Name of the Company	<span class="required-asterisk">*</span>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="INV_COMP_NAME" name="INV_COMP_NAME" placeholder="Enter Company Name">	
								</td>
							</tr>

							<tr>
								<td>
									Designation	<span class="required-asterisk">*</span>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="INV_COMP_DESG" name="INV_COMP_DESG" placeholder="Enter Designation">	
								</td>
							</tr>
						</tbody>
						
							<tbody>
								<tr>
									<th colspan="4">
										Permanent Address 
									</th>
									<th colspan="3">
										Correspondence Address (If different)						

									</th>
								</tr>
								<tr>
									<td>
										Country
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_COUNTRY" name="GD_PERM_COUNTRY" placeholder="Enter Permanent Country">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_COUNTRY" name="GD_COR_COUNTRY" placeholder="Enter Correspondence Country">
									</td>
								</tr>
								<tr>
									<td>
										Province
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_PROVINCE" name="GD_PERM_PROVINCE" placeholder="Enter Permanent Province">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_PROVINCE" name="GD_COR_PROVINCE" placeholder="Enter Correspondence Province">
									</td>
								</tr>
								<tr>
									<td>
										District
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_DISTRICT" name="GD_PERM_DISTRICT" placeholder="Enter Permanent District">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_DISTRICT" name="GD_COR_DISTRICT" placeholder="Enter Correspondence District">
									</td>
								</tr>
								<tr>
									<td>
										VDC/Municipality
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_VDC_MUN" name="GD_PERM_VDC_MUN" placeholder="Enter Permanent VDC/Municipality">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_VDC_MUN" name="GD_COR_VDC_MUN" placeholder="Enter Correspondence VDC/municipality">
									</td>
								</tr>
								<tr>
									<td>
										Street name
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_STREET_NAME" name="GD_PERM_STREET_NAME" placeholder="Enter Permanent Street Name">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_STREET_NAME" name="GD_COR_STREET_NAME" placeholder="Enter Correspondence Street Name">
									</td>
								</tr>
								<tr>
									<td>
										Ward no.
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_WARD_NO" name="GD_PERM_WARD_NO" placeholder="Enter Permanent Ward Number">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_WARD_NO" name="GD_COR_WARD_NO" placeholder="Enter Correspondence Ward Number">
									</td>
								</tr>
								<tr>
									<td>
										House no.
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_HOUSE_NO" name="GD_PERM_HOUSE_NO" placeholder="Enter Permanent House Number">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_HOUSE_NO" name="GD_COR_HOUSE_NO" placeholder="Enter Correspondence House Number">	
									</td>
								</tr>
								<tr>
									<td>
										Mobile No.
									</td>
									<td colspan="2">
										<input type="text" class="form-control" id="GD_MOBILE_NO" name="GD_MOBILE_NO" placeholder="Enter Mobile Number">	
									</td>
									<td>
										Telephone No.
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_TEL_NO" name="GD_TEL_NO" placeholder="Enter Telephone Number">	
									</td>
								</tr>
								<tr>
									<td>
										Email Address
									</td>
									<td colspan="2">
										<input type="text" class="form-control" id="GD_EMAIL" name="GD_EMAIL" placeholder="Enter Email Address">	
									</td>
									<td>
										PAN Number	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PAN_NO" name="GD_PAN_NO" placeholder="Enter Pan Number">	
									</td>
								</tr>
							</tbody>
						</table>
						<tr>
							<td colspan="6" style="text-align: center;">
								<input type="submit" class="btn btn-success btn-md" style="background-color: #abb441; border-color: #abb441;" value="SUBMIT" name="CDF_SUBMIT" id="CDF_SUBMIT"> 

								<!-- <input type="reset" class="btn btn-primary btn-md" value="REFRESH" name="CDF_REFRESH" id="CDF_REFRESH"> -->

							</td>
							<td></td>
						</tr>
					</table>

					</form>				</div>

			</div>
		</div>
	</div>

<!--- <input type="submit" name="submit"> -->
</form>

</body>
</html>