 {% include "navbar.html" %}
 <style>

body {
  margin-top: 90px;
   margin-left:50px;
  margin-right:50px;
  font-family: Arial, Helvetica, sans-serif;
}

</style>
<body>
<form method = "POST">
{% csrf_token %}

<table class="table table-responsive">
						<p>Please fill in <strong> BLOCK LETTERS </strong>and tick boxes where applicable.</p>

						<thead>
							<tr>
								<p>
									<strong>
										Name of the Applicant (As appearing in supporting identification document)
									</strong>
								</p>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									<label>In English <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="6">
									<input type="text" class="form-control" name="name" id="APPLICANT_NAME" placeholder="Enter Name of the Applicant" value="{{data.name}}">
																	</td>
							</tr>
							<tr>
								<th>
									<label>Birth of place <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="2">
									<input type="text" name="BIRTH_PLACE" id="BIRTH_PLACE" class="form-control" placeholder="Enter Birth Place" value= "{{data.pob}}" >
								</td>
								<th>

								</td>
									<label>Martial Status <span class="required-asterisk">*</span></label>
								</th>
								<td>
									 <input type="text" class="form-control" name="APPLICANT_NAME" id="APPLICANT_NAME" placeholder="Enter Name of the Applicant" value="{{data.marital_status}}" >
								</td>	
						
							<tr>
								<th>
									<label>Nationality <span class="required-asterisk">*</span></label>
								</th>
								<td>
									<input type="radio" class="form-check-label" id="NATIONALITY_NEPALI" name="NATIONALITY" value="Nepali" >
									<label class="form-check-label" for="NATIONALITY_NEPALI">Nepali</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="NATIONALITY_FOREIGNER" name="NATIONALITY" value="Foreigner" >
									<label class="form-check-label" for="NATIONALITY_FOREIGNER" >Foreigner</label>
								</td>
								<th>
									<label>Status <span class="required-asterisk">*</span></label>
								</th>
								<td>
									<input type="radio" class="form-check-label" id="RESIDENT_STATUS_RES" name="RESIDENT_STATUS" value="Resident" >
									<label class="form-check-label" for="RESIDENT_STATUS_RES">Resident</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="RESIDENT_STATUS_NON_RES" name="RESIDENT_STATUS" value="Non-Resident" >
									<label class="form-check-label" for="RESIDENT_STATUS_NON_RES">Non-Resident Nepalese</label>
								</td>
								<td colspan="2"></td>
							</tr>
							<tr>					
								<th>
									<label>Education <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="EDUCATION" name="EDUCATION" placeholder="Enter Education" value="{{data.edu}}" >
								</td>
								<td colspan="4"></td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="7">
									Address Details
								</th>
							</tr> 
						</thead>
						<tbody>
							<tr>
								<th colspan="4">
									<label>Correspondence Address</label>
								</th>
								<th colspan="3">
									<label>Nature of Residence <span class="required-asterisk">*</span></label>
								</th>
							</tr>
							<tr>
								<th>
									<label>Country <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="COUNTRY" name="COUNTRY" placeholder="Enter County" value="{{data.country}}" >
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="RESIDENCE_NATURE_OWN_HOUSE" name="RESIDENCE_NATURE" value="Own House" >
									<label class="form-check-label" for="RESIDENCE_NATURE_OWN_HOUSE" >Own House</label>
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="RESIDENCE_NATURE_ON_RENT" name="RESIDENCE_NATURE" value="On Rent" >
									<label class="form-check-label" for="RESIDENCE_NATURE_ON_RENT">On Rent</label>
								</td>
							</tr>
							<tr>
								<th>
									<label>Province <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="PROVINCE" name="PROVINCE" placeholder="Enter Province" value="{{data.province}}" >
								</td>
								<td colspan="3"></td>
							</tr>
							<tr>
								<th>
									<label>District <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="DISTRICT" name="DISTRICT" placeholder="Enter Province" value="{{data.district}}" >
								</td>
								<td colspan="3">
									<div class="on-rent-sections">If on Rent, please specify:</div>	
								</td>
							</tr>
							<tr>
								<th>
									<label>VDC/Municipality <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="VDC_MUNICIPALITY" name="VDC_MUNICIPALITY" placeholder="Enter VDC/Municipality" value="{{data.v_mun}}" >
								</td>
								<td colspan="3">
									<div class="on-rent-sections">Owner's Name <span class="required-asterisk">*</span></div>	
								</td>
							</tr>
							<tr>
								<th>
									<label>Street name <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="STREET_NAME" name="STREET_NAME" placeholder="Enter Street Name" value="{{data.street}}" >
								</td>
								<td colspan="3">
									<div class="on-rent-sections"><input type="text" class="form-control" id="OWNER_NAME" name="OWNER_NAME" placeholder="Enter Owner's Name"></div>					

								</td>
							</tr>
							<tr>
								<th>
									<label>Ward no. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="WARD_NO" name="WARD_NO" placeholder="Enter Ward no." value="{{data.ward}}" >
								</td>
								<td colspan="3">
									<div class="on-rent-sections">Owner's Telephone Number <span class="required-asterisk">*</span></div>
								</td>
							</tr>
							<tr>
								<th>
									<label>House no. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="HOUSE_NO" name="HOUSE_NO" placeholder="Enter House no." value="{{data.houseno}}" >
								</td>
								<td colspan="3">
									<div class="on-rent-sections"><input type="text" class="form-control" id="OWNER_TEL_NO" name="OWNER_TEL_NO" placeholder="Enter Owner's Telephone Number"></div>
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="6">
									Contact Details
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									<label>Mobile No. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="2">
									<input type="text" class="form-control" id="MOBILE_NO" name="MOBILE_NO" placeholder="Enter Mobile Number" value="{{data.mobile}}" >
								</td>
								<th>
									<label>Telephone No. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="Number" class="form-control" id="TEL_NO" name="TEL_NO" placeholder="Enter Telephone Number" value="{{data.telephone}}" >
								</td>
							</tr>
							<tr>
								<th>
									<label>Email Address <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="2">
									<input type="email" class="form-control" id="EMAIL" name="EMAIL" placeholder="Enter Email Address" >
								</td>
								<th>
									<label>Fax No. <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="3">
									<input type="text" class="form-control" id="FAX_NO" name="FAX_NO" placeholder="Enter Fax Number" value="{{data.fax}}" >
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="3">
									Occupation Details <span class="-asterisk">*</span>
								</th>
								<th colspan="4">
									Associated Organization detail (Please fill the table below):						
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_SAL_GOV" name="OCCUPATION_DETAILS" value="Salaried-Govt" >
									<label class="form-check-label" for="OCCUPATION_DETAILS_SAL_GOV">Salaried-Govt.</label>
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_RET" name="OCCUPATION_DETAILS" value="Retired" >
									<label class="form-check-label" for="OCCUPATION_DETAILS_RET">Retired</label>
								</td>
								<td colspan="2">
									Name of Organization <span class="required-asterisk">*</span>	
								</td>
								<td colspan="2">
									Designation	<span class="required-asterisk">*</span>	
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_STUD" name="OCCUPATION_DETAILS" value="Student" required>
									<label class="form-check-label" for="OCCUPATION_DETAILS_STUD">Student</label>
								</td>

								<td colspan="2">
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_SAL_PVT" name="OCCUPATION_DETAILS" value="Salaried-Private" >
									<label class="form-check-label" for="OCCUPATION_DETAILS_SAL_PVT">Salaried-Private</label>
								</td>
								<td colspan="2">
									<input type="text" class="form-control" id="ASSOC_ORG_NAME" name="ASSOC_ORG_NAME" placeholder="Enter Name of Organization" value="" >		

								</td>
								<td  colspan="2">
									<input type="text" class="form-control" id="ASSOC_ORG_DESG" name="ASSOC_ORG_DESG" placeholder="Enter Organization Designation" value="" >		

								</td>
							</tr>
							<tr> 
								<td>
									<input type="radio" class="form-check-label" id="OCCUPATION_DETAILS_OTHER" name="OCCUPATION_DETAILS" value="o" >
									<label class="form-check-label" for="OCCUPATION_DETAILS_OTHER">Other (Please specify)	</label>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="OCCUPATION_DETAILS_OTHER_TEXT" name="OCCUPATION_DETAILS_OTHER_TEXT" style="display: none;" placeholder="Enter occupation detail.">
								</td>

							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="7">
									Financial Details		
								</th>
							</tr>
							<tr>
								<th colspan="7">
									Estimated Annual Income	<span class="required-asterisk">*</span>			
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="EST_ANNUAL_INCOME_UPTO_5L" name="EST_ANNUAL_INCOME" value="Upto NPR 5 Lakhs" >
									<label class="form-check-label" for="EST_ANNUAL_INCOME_UPTO_5L">Upto NPR 5 Lakhs</label>
								</td>

								<td colspan="2">
									<input type="radio" class="form-check-label" id="EST_ANNUAL_INCOME_5T1" name="EST_ANNUAL_INCOME" value="NPR 500001 to NPR 1000000" >
									<label class="form-check-label" for="EST_ANNUAL_INCOME_5T1">NPR 500001 to NPR 1000000</label>
								</td>
								<td colspan="2">
									<input type="radio" class="form-check-label" id="EST_ANNUAL_INCOME_A1" name="EST_ANNUAL_INCOME" value="Above NPR 1000000" >
									<label class="form-check-label" for="EST_ANNUAL_INCOME_A1">Above NPR 1000000</label>
								</td>
							</tr>

						</tbody>
						<thead>
							<tr>
								<th colspan="5">Are you involved in any Investment Company for securities trading? <span class="required-asterisk">*</span></th>
								<td>
									<input type="radio" class="form-check-label" id="INV_COMP_INVOLVED_YES" name="INV_COMP_INVOLVED" value="Yes" >
									<label class="form-check-label" for="INV_COMP_INVOLVED_YES">Yes</label>
								</td>
								<td>
									<input type="radio" class="form-check-label" id="INV_COMP_INVOLVED_NO" name="INV_COMP_INVOLVED" value="No" >
									<label class="form-check-label" for="INV_COMP_INVOLVED_NO">No</label>
								</td>
							</tr>
						</thead>
						<tbody id="INVESTMENT_COMP_SECTION" style="display: none;">
							<tr>
								<td colspan="7">
									If yes, please specify	
								</td>
							</tr>

							<tr>
								<td>
									Name of the Company	<span class="required-asterisk">*</span>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="INV_COMP_NAME" name="INV_COMP_NAME" placeholder="Enter Company Name">	
								</td>
							</tr>

							<tr>
								<td>
									Designation	<span class="required-asterisk">*</span>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="INV_COMP_DESG" name="INV_COMP_DESG" placeholder="Enter Designation">	
								</td>
							</tr>
						</tbody>
						<thead>
							<tr>
								<th colspan="7">
									In Case of Minor
								</th>
							</tr>
							<tr>
								<th>
									Guardian’s Details
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Guardian’s Full Name: <span class="required-asterisk">*</span>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="GD_FUL_NAME" name="GD_FUL_NAME" placeholder="Enter Guardian’s Full Name" >	
								</td>
							</tr>
							<tr>
								<td>
									Relationship with the applicant: <span class="required-asterisk">*</span>
								</td>
								<td colspan="6">
									<input type="text" class="form-control" id="GD_APP_RELATION" name="GD_APP_RELATION" placeholder="Enter Relationship With The Applicant" >	
								</td>
							</tr>
						</tbody>
						<table class="table table-bordered table-responsive">
							<thead>
								<tr>
									<th colspan="7">
										Address Details of the Guardian
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th colspan="4">
										Permanent Address 
									</th>
									<th colspan="3">
										Correspondence Address (If different)						

									</th>
								</tr>
								<tr>
									<td>
										Country
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_COUNTRY" name="GD_PERM_COUNTRY" placeholder="Enter Permanent Country">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_COUNTRY" name="GD_COR_COUNTRY" placeholder="Enter Correspondence Country">
									</td>
								</tr>
								<tr>
									<td>
										Province
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_PROVINCE" name="GD_PERM_PROVINCE" placeholder="Enter Permanent Province">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_PROVINCE" name="GD_COR_PROVINCE" placeholder="Enter Correspondence Province">
									</td>
								</tr>
								<tr>
									<td>
										District
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_DISTRICT" name="GD_PERM_DISTRICT" placeholder="Enter Permanent District">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_DISTRICT" name="GD_COR_DISTRICT" placeholder="Enter Correspondence District">
									</td>
								</tr>
								<tr>
									<td>
										VDC/Municipality
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_VDC_MUN" name="GD_PERM_VDC_MUN" placeholder="Enter Permanent VDC/Municipality">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_VDC_MUN" name="GD_COR_VDC_MUN" placeholder="Enter Correspondence VDC/municipality">
									</td>
								</tr>
								<tr>
									<td>
										Street name
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_STREET_NAME" name="GD_PERM_STREET_NAME" placeholder="Enter Permanent Street Name">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_STREET_NAME" name="GD_COR_STREET_NAME" placeholder="Enter Correspondence Street Name">
									</td>
								</tr>
								<tr>
									<td>
										Ward no.
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_WARD_NO" name="GD_PERM_WARD_NO" placeholder="Enter Permanent Ward Number">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_WARD_NO" name="GD_COR_WARD_NO" placeholder="Enter Correspondence Ward Number">
									</td>
								</tr>
								<tr>
									<td>
										House no.
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PERM_HOUSE_NO" name="GD_PERM_HOUSE_NO" placeholder="Enter Permanent House Number">	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_COR_HOUSE_NO" name="GD_COR_HOUSE_NO" placeholder="Enter Correspondence House Number">	
									</td>
								</tr>
								<tr>
									<td>
										Mobile No.
									</td>
									<td colspan="2">
										<input type="text" class="form-control" id="GD_MOBILE_NO" name="GD_MOBILE_NO" placeholder="Enter Mobile Number">	
									</td>
									<td>
										Telephone No.
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_TEL_NO" name="GD_TEL_NO" placeholder="Enter Telephone Number">	
									</td>
								</tr>
								<tr>
									<td>
										Email Address
									</td>
									<td colspan="2">
										<input type="text" class="form-control" id="GD_EMAIL" name="GD_EMAIL" placeholder="Enter Email Address">	
									</td>
									<td>
										PAN Number	
									</td>
									<td colspan="3">
										<input type="text" class="form-control" id="GD_PAN_NO" name="GD_PAN_NO" placeholder="Enter Pan Number">	
									</td>
								</tr>
							</tbody>
						</table>
						<tr>
							<td colspan="6" style="text-align: center;">
								<input type="submit" class="btn btn-success btn-md" style="background-color: #abb441; border-color: #abb441;" value="SUBMIT" name="CDF_SUBMIT" id="CDF_SUBMIT"> 

								<!-- <input type="reset" class="btn btn-primary btn-md" value="REFRESH" name="CDF_REFRESH" id="CDF_REFRESH"> -->

							</td>
							<td></td>
						</tr>
					</table>

					</form>				</div>

			</div>
		</div>
	</div>



	<a href ="{% url 'GeneratePdf' data.id %}">Pdf </a>
</form>
</body>