{% include "navbar.html" %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin-top: 90px;
  margin-left:50px;
  margin-right:50px;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<!--
<a href="{% url 'register' %}"> Sign Up </a>
<br>
<a href="{% url 'loginpage' %}"> Login </a>
<br>
<a href="{% url 'dashboard' %}"> Dashboard </a>
<br>
<a href="{% url 'logouts' %}"> Logout </a>


-->
{% block content %}

<div class="table-responsive">
 
<table class="table table-striped" border="1" width="900">
	<tr>
	<th scope="col">Id</th>
	<th scope="col">Name</th>
	<th scope="col">pob</th>
	<th scope="col">Edu</th>
	<th scope="col">Action</th>
	
	</tr>
{% for i in details %}
	<tr>

		<td>{{i.id}}</td>
		<td>{{i.name}}</td>
		<td>{{i.pob}}</td>
		<td>{{i.edu}}</td>
<td width="200px"><a href ="{% url 'GeneratePdf' i.id %}" class="btn btn-sm btn-default"><span class="	glyphicon glyphicon-eye-open"></span> Pdf </a>&nbsp
 <a href ="{% url 'requireddata' i.id %}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span> Edit </a></td>  
		


	</tr>
	

{% endfor %}

</table>

</div>
<!---

<table border="1" width="900">
	<tr>
	<th>Id</th>
	<th>Username</th>
	<th>Email</th>
	<th>Password</th>
	</tr>
{% for i in data %}
	<tr>

		<td>{{i.id}}</td>
		<td>{{i.username}}</td>
		<td>{{i.email}}</td>
		<td>{{i.password}}</td>


	</tr>

{% endfor %}

</table>

-->



<!--

<h2>Modal Login Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" method="POST">
  	{% csrf_token %}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

-->

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
 
  text-align: center;
}
</style>

<div class="footer">
 <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> Panas</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>





</body>
</html>
{% endblock content %}

