
{% extends "base.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
 
  </head>

  {% block content %}
  <body>

      <form method="POST" class="login-form">
      	{% csrf_token %}
         <div class="imgcontainer">
    <img src="{% static 'avatar.png' %}" width="50px" height="50px">
     <h1>Login</h1>
  </div>
       
        {% if data %}
<div class="alert alert-danger" id="message" align="center">
  <strong>Danger!</strong> {{ data }}


{% endif %}
</div>
        <div class="txtb">
          <input type="text" name="username">
          <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
          <input type="password" name="password">
          <span data-placeholder="Password"></span>
        </div>

        <input type="submit" class="logbtn" value="Login">

        <div class="bottom-text">
          Don't have account? <a href="#">Contact Admin!!</a>
        </div>

      </form>

      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

 
 $(document).ready(function () {
            if($(".txtb input").val() != ""){ $(".txtb input").addClass("focus");}
       
  $("#message").show().delay(1000).fadeOut();

  
  });

  


        </script>


  </body>
</html>

  {% endblock content %}
