


<!DOCTYPE html>
<html>
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>

<!---
<div class="topnav">
  <a href="{% url 'homepage' %}">Home</a>
  <a href="{% url 'logouts' %}"> Logout </a>
  <a href="{% url 'pass_change' %}"> Change Password </a>
  Welcome <b>{{ request.user.username }}</b>
</div>

logged in successful as <b>{{ request.user.username }}</b>

--.
--->


 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
 
           <ul class="nav navbar-nav">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'dashboard' %}">New Entry </a></li>
      
          </ul>
        <ul class="nav navbar-nav navbar-right">
         <li><a href="#">Hello,{{ request.user.username }} </a></li>
          <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Register </a></a></li>
   
       <li><a href="{% url 'pass_change' %}"> Change Password </a></li>
        <li><a href="{% url 'logouts' %}"> <span class="glyphicon glyphicon-log-out"></span> Logout </a><br></li>
    </ul>

    
  </div>
</nav>
       

<!--
   <li><a href="{% url 'loginpage' %}"> Login </a></li>
   --->
  
  
  </div>
</nav>



{% block content %}

{% endblock content %}