


 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
 
 
      

           <ul class="nav navbar-nav">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'dashboard' %}">New Entry </a></li>
      
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span>  Sign Up </a></a></li>
   
       <li><a href="{% url 'pass_change' %}"> Change Password </a></li>
        <li><a href="{% url 'logouts' %}"> <span class="glyphicon glyphicon-log-out"></span> Logout </a><br></li>
    </ul>

    
  </div>
</nav>