Hello from register

{% extends "base.html" %}
 


      {% block content %}

      <form method = "POST" class="login-form">
{% csrf_token %}
<h1>User Registration</h1>
<div class="txtb">
 <input type="text" name="name" required> <span data-placeholder="Username"></span>
</div>
<div class="txtb">
 <input type="text" name="email" required> <span data-placeholder="Email"></span>
</div>
<div class="txtb">
 <input type="text" name="password" required> <span data-placeholder="Password"></span>
</div>
<input type="submit" class="logbtn" name="submit">
</form>


      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });
      $(document).ready(function () {
            if($(".txtb input").val() != "")
        $(".txtb input").addClass("focus");
      
  
  });
   
      </script>

  {% endblock content %}