<!---old-->

<!---
Name : <input type="text" >


<table class="table table-responsive">
						<p>Please fill in <strong> BLOCK LETTERS </strong>and tick boxes where applicable.</p>

						<thead>
							<tr>
								<p>
									<strong>
										Name of the Applicant (As appearing in supporting identification document)
									</strong>
								</p>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									<label>In English <span class="required-asterisk">*</span></label>
								</th>
								<td colspan="6">
									c
							
						</tr>
					</table>

					</form>				</div>

			</div>
		</div>
	</div>

-->

<!---new form-->


<!DOCTYPE html>
<html>
<head>
	<title>KCL Personnal Account Opening Form</title>
</head>

<body>
	<div class="Section1">
	<!--Logo and header-->
	
		<table>
			<tr>
				<td><!--KCL logo--><img src=""></td>
				<td><!--personal opening form--><img src=""></td>
			</tr>
		</table>
	
	<br>
	<!--General Information-->
	<!--Sub heading-->
	<div>
		<table>
			<tr>
				<td style="text-align: center;">
					<h3>GENERAL INFORMATION</h3>
				</td>
			</tr>
			<tr>
				<td style="text-align: left;">
					Primary Client Information
				</td>
			</tr>
			<tr>
				<td style="text-align: left; font-size: 8pt">Please fill in BLOCK LETTERS and tick boxes where applicable.</td>
			</tr>
			<tr>
				<td>
					Personal Identification Details
				</td>
			</tr>
			<tr>
				<td>Name of the Applicant
					<span style="font-size: 8pt">(As appearing in supporting identification document)</span>
				</td>
				
			</tr>

		</table>
	</div>
	<br>
	<!--Start Of Table 1 - general info-->
		<div>
			<table>
				<div>
				<tr>
					<td width="25%" id="lol">In English</td>
					<td colspan="15">
						{{ data.name }}
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>
				
				<tr>
					<td id="lol">In Nepali</td>
					<td colspan="15"><input type="text" name="nepname" size="80px" placeholder="Enter your name in Nepali"></td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>

				<tr>
					<td id="lol">Gender</td>
				
					<td></td>
					<td></td>
					<td colspan="4" id="lol">Date of Birth (B.S.):
					<input style="width:120px;" type="date" value="">
				</td>
				</tr>
			</table>
		</div><br>
		<div>
			<table>	
				
				<tr>
					<td width="25%" id="lol">Marital Status</td>
					
					
					<td>{{data.marital_status}}</td>
					<td></td>
					<td colspan="4" id="lol">Date of Birth (A.D.):
						<input style="width:120px;" type="date" value=""></td>
				</tr>
			</table>

			</div>
		<br>
		<div>
			</div>
		<br>
		<div>
			<table>
				
				<tr>
					<td width="15%" id="lol">Spouse's Name</td>
					<td colspan="23"><input type="text" name="nepname" size="80px" placeholder="Enter your Spouse's Name"></td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>
				
				<tr>
					<td id="lol">Father's Name</td>
					<td colspan="23"><input type="text" name="nepname" size="80px" placeholder="Enter your Father's Name"></td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>
				
				<tr>
					<td id="lol">Mother's Name</td>
					<td colspan="23"><input type="text" name="nepname" size="80px" placeholder="Enter your Mother's Name"></td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>
				
				<tr>
					<td id="lol">Grandfather's Name</td>
					<td colspan="23"><input type="text" name="nepname" size="80px" placeholder="Enter your Grandfather's Name"></td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>
				
				<tr>
					<td id="lol">Grandmother's Name</td>
					<td colspan="23"><input type="text" name="nepname" size="80px" placeholder="Enter your Grandmother's Name"></td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>

				<tr>
					<td width="25%" id="lol" width=>Nationality</td>
					
					<td>
					
					Nepali</td>
					
					

					<!--start of 17 boxes whose purpose idk-->
			
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>

				<tr>
					<td id="lol">Status</td>
					
					
				
					<td></td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>
				
				<tr>
					<td width="25%" id="lol">Education</td>
					<td colspan="23">{{data.edu}}</td>
				</tr>

				<!--Row gap-->
				<tr height="10px"></tr>
				
				<tr>
					<td id="lol">PAN NO.</td>
					<td colspan="23"><input type="text" name="nepname" size="80px" placeholder="Enter your PAN no."></td>
					
				</tr>
		</table>
		</div>




	<!--Address-->
	
		<div class="section">
		<p><h3>Address Details</h3></p>
		</div>
			<div>
			<table>

				<tr>
					<th width="20%"></th>
					<th width="40%" id="lol">Permanent Address</th>
					<th id="lol">Correspondence Address (if available)</th>
				</tr>
				<tr>
					<td id="lol">Country</td>
					<td align="center">{{ data.country }}</td>
					<td><input type="text" name="id no" size="50px" value=""></td>
				</tr>
				<tr>
					<td id="lol">Province</td>
					<td align="center">{{ data.province }}</td>
					<td><input type="text" name="id no" size="50px" value=""></td>
				</tr>
				<tr>
					<td id="lol">District</td>
					<td align="center">{{ data.district }}</td>
					<td><input type="text" name="id no" size="50px" value=""></td>
				</tr>
				<tr>
					<td id="lol">VDC/Municipality</td>
					<td align="center">{{ data.v_mun }}</td>
					<td><input type="text" name="id no" size="50px" value=""></td>
				</tr>
				<tr>
					<td id="lol">Street Name</td>
					<td align="center">{{ data.street }}</td>
					<td><input type="text" name="id no" size="50px" value=""></td>
				</tr>
				<tr>
					<td id="lol">Ward No.</td>
				<td align="center">{{ data.ward }}</td>
					<td><input type="text" name="id no" size="50px" value=""></td>
				</tr>
				<tr>
					<td id="lol">House No.</td>
					<td align="center">{{ data.houseno }}</td>
					<td><input type="text" name="id no" size="50px" value=""></td>
				</tr>
			</table>
			</div>

			<!--Contact Details-->

		<div class="section">
		<p><h3>Contact Details</h3></p>
		</div>
		<div>
			<table>
				<tr>
					<td width="20%" id="lol">Mobile No.</td>
					<td>{{ data.mobile }}</td>

					<td width="2%"></td>

					<td width="20%" id="lol">Telephone No.</td>
					<td>{{ data.telephone }}</td>
				</tr>
				<!--Row gap-->
				<tr height="10px"></tr>
				<tr>
					<td id="lol">Email Address</td>
					<td><input type="text" name="id no" size="30px" placeholder="xxxxx@gmail.com"></td>

					<td></td>

					<td id="lol">Fax No.</td>
					<td>{{ data.fax }}</td>
				</tr>
			</table>
		</div>

		<!--Other Details-->

		<div class="section">
		<p><h3>Other Details</h3></p>
		</div>
		<div>
			<table>
				<tr>
					<td id="lol">Occupation</td>
					
		
			
				</tr>
			</table>
			<br>
		</div>